*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #151510;
}

.inner_header{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #000030;
}

.myname{
    height: 100%;
    display: table;
    float: left;
    padding-left: 20px;
}

.myname h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: fantasy;
    font-size: 32px;
    font-weight: 500;
    opacity: 80%;
}

.myname h1 span{
    display: block;
    font-weight: 1000;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    opacity: 80%;
    font-family: fantasy;
    font-size: 20px;
}

body {
    background-image: url("MediaFolder/SiteImages/website-background.jpg");
}