    /* Styles for my portfolio website */

    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }



    /* START OF HEADER SECTION */
    .header{
        width: 100%;
        height: 6.25rem;
        display: block;
        background-color: #101010;
        position: fixed;
        top: 0rem;
        left: 0rem;
        z-index: 500;
    }

    .inner_header{
        width: 70%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    .myname{
        height: 100%;
        display: table;
        float: left;
        padding-left: 1.25rem;
    }

    .myname h1{
        color: white;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-family: fantasy;
        font-size: 2rem;
        font-weight: 500;
        opacity: 80%;
    }

    .myname h1 span{
        display: block;
        font-weight: 900;
    }

    .navigation{
        float: right;
        height: 100%;
    }

    .navigation a{
        height: 100%;
        display: table;
        float: left;
        padding: 0rem 1.25rem;
    }

    .navigation a li{
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        opacity: 80%;
        font-family: fantasy;
        font-size: 1.25rem;
    }
    /* END OF HEADER SECTION */

    .site_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    /* START OF HOME SECTION */
    .home{
        width: 60%;
        height: 25rem;
        margin-top: 9.375rem;
        background-color: #DDDDDD;
        opacity: 90%;
        display: flex;
        flex-direction: row;
    }

    .home_picture{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.25rem;
        background-color: #CCCCCC;
        box-sizing: border-box;
    }

    .home_picture h1{
        font-family: fantasy;
        font-size: 2.5rem;
        color: black;
        font-weight: 300;
    }

    .home_picture img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .home_text{
        width: 50%;
        height: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.625rem 1.875rem 0.625rem;
    }

    .home_text p{
        font-family: fantasy;
        color: black;
        font-size: 1.25rem;
        font-weight: 100;
        text-align: center;
    }
    /* END OF HOME SECTION */



    /* START OF GAME SECTION */
    .game_section{
        width: 100%;
        height: 160rem;
        background-color: black;
        margin: 3.125rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3.125rem;
    }

    .game_section_text{
        width: 100%;
        height: 9.375rem;
        vertical-align: middle;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .game_section_text h1{
        font-family: fantasy;
        font-size: 5rem;
        color: white;
        text-align: center;
    }

    .game_box{
        width: 75%;
        height: 24rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0.625rem 0rem;
    }

    .game_logo_box{
        width: 100%;
        height: 3.6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .game_logo_box img{
        width: 50%;
        height: 100%;
        object-fit: fill;
    }

    .game_logo_box h1{
        width: 100%;
        text-align: center;
        font-family: fantasy;
        font-size: 5rem;
    }

    .general_info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 20.4rem;
        width: 100%;
    }

    .game_info{
        width: 35%;
        height: 20.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .game_trailer_box{
        width: 100%;
        height: 15.3rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game_trailer_box video{
        width: 90%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .game_info_text{
        width: 100%;
        height: 4rem;
        text-align: center;
    }

    .game_info_text p{
        font-family: fantasy;
        font-weight: 6.25rem;
        font-size: 0.875rem;
    }

    .feature_box{
        width: 55%;
        height: 16.32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .feature_choice{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        gap: 1.25rem;
    }

    .feature_choice p{
        width: 100%;
        font-family: fantasy;
        font-size: 0.875rem;
        text-align: center;
    }

    .feature_choice img{
        width: 45rem;
        height: 30rem;
        object-fit: cover;
        display: block;
        object-position: center;
    }

    .feature_buttons{
        width: 70%;
        flex-basis: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .feature_buttons button{
        width: 100%;
        height: 100%;
        background-image: url("MediaFolder/SiteImages/Button.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: black;
        background-color: transparent;
        color: transparent;
        font-size: 0rem;
    }

    .mini_game_box{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2.5rem;
    }

    .mini_game_box h1{
        flex: 1;
        width: 100%;
        font-family: fantasy;
        font-size: 1.25rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mini_game_box img{
        width: 15rem;
        height: 10rem;
        object-fit: cover;
        display: block;
        object-position: center;
    }

    .mini_game_box p{
        flex: 1;
        width: 100%;
        text-align: center;
        font-family: fantasy;
        font-size: 0.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        background-image: url("MediaFolder/SiteImages/website-background.jpg");
    }