   /* General settings */

    @font-face
    {
        font-family: 'Bewitched';
        src: url("../Fonts/Bewitched.ttf");
    }

   *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    [id] {
        scroll-margin-top: 6.25rem;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-image: url("Media/graybackground.png");
        background-size: cover;
        background-position: center;
        
        font-family: Impact;
    }

    .container {
        width: 100%;
        height: 170rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 6.25rem;
    }

    /* START OF HEADER SECTION */
    .header{
        width: 100%;
        height: 6.25rem;
        display: block;
        background-color: #101010;
        position: fixed;
        top: 0rem;
        left: 0rem;
        z-index: 500;
        padding-left: 2rem;
    }

    .navigation{
        float: left;
        height: 100%;
    }

    .navigation a{
        height: 100%;
        display: table;
        float: left;
        padding: 0rem 1.25rem;
    }

    .navigation a li{
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        color: white;
        opacity: 80%;
        font-size: 1.25rem;
    }

    .header img{
        position: absolute;
        left: 15%;
        vertical-align: middle;
        height: 5.5rem;
        width: 26rem;
    }

    /* START OF INFO SECTION */
    .info_section{
        width: 75%;
        height: 170rem;
        background-color: rgba(65, 65, 65, 0.75);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        font-family: 'Bewitched';
        color: #CC0000;
        padding: 2rem;

        gap: 5rem;
    }

    .intro_box{
        width: auto;
        height: 25rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-align: center;
    }

    .intro_box h1{
        width: auto;
        height: 5rem;

        font-size: 5rem;
        margin-bottom: 1rem;
    }

    .intro_box p{
        margin-top: 2rem;
        width: auto;
        flex: 1;

        font-size: 1.25rem;
    }

    .feature_box{
        width: 85%;
        height: 30rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding: 0rem 2rem;
        background-color: rgba(16,16,16,0.8);
    }

    .feature_info{
        width: 22.5rem;
        height: 26rem;
    }

    .feature_info h1{
        font-size: 2.5rem;
        text-align: center;
        margin: 1rem 1.5rem;
    }

    .feature_info p{
        font-size: 0.75rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .feature_pictures{
        width: 17.5rem;
        height: 26rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1rem;
        gap: 2rem;
    }

    .feature_pictures img{
        width: 15.5rem;
        height: 11rem;

        object-fit: cover;
    }

    .end_box{
        width: auto;
        height: 25rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-align: center;
    }

    .end_box p{
        margin-top: 1rem;
        width: auto;
        flex: 1;

        font-size: 1rem;
    }